<div class="flex w-full items-start font-sans bg-slate-100">
  <aside class="sidebar" [ngClass]="collapsed ? 'sidebar-collapsed' : ''">
    <div class="flex items-center min-h-[2rem]" [ngClass]="collapsed ? 'justify-evenly' : 'justify-between'">
      <a href="#" class="brand" [ngClass]="collapsed ? 'scale-0 w-0' : ''">
        <img src="../assets/my-logo.png" alt="event bud" class="w-5">
        <h1 class="text-xl font-bold text-slate-300">EVENTBUD</h1>
      </a>
      <button type="button" class="bg-slate-700 px-1 rounded hover:text-emerald-600 transition ease-in-out" (click)="sidebarCollapsedHandler()">
        <i class="bi" [ngClass]="collapsed ? 'bi-arrow-right-short' : 'bi-arrow-left-short'"></i>
      </button>
    </div>
    <ul class="menu-links">
      <li>
        <a href="#" class="menu-item active">
          <i class="bi bi-columns-gap"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="menu-item">
          <i class="bi bi-box"></i>
          Items
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="false" (click)="subMenuToggleHandler($event)">
          <i class="bi bi-sliders2-vertical"></i>
          Settings
        </a>
        <ul class="sub-menu-item">
          <li>
            <a href="#" class="menu-item">
              Profile
            </a>
          </li>
          <li>
            <a href="#" class="menu-item active">
              Users
            </a>
          </li>
          <li>
            <a href="#" class="menu-item">
              Website
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-item">
          <i class="bi bi-box-arrow-right"></i>
          Logout
        </a>
      </li>
    </ul>
  </aside>

  <div class="flex-1">
    <main class="min-h-screen p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        <div class="card flex items-center gap-3">
          <div class="bg-gradient-to-br from-emerald-500 to-emerald-700 py-2 px-3 rounded-lg text-white">
            <span class="bi bi-calendar-event text-3xl"></span>
          </div>
          <div>
            <h4 class="text-xl font-bold">25</h4>
            <p class="text-md text-gray-400">Total Events</p>
          </div>
        </div>
        <div class="card flex items-center gap-3">
          <div class="bg-gradient-to-br from-orange-500 to-orange-700 py-2 px-3 rounded-lg text-white">
            <span class="bi bi-ticket-perforated text-3xl"></span>
          </div>
          <div>
            <h4 class="text-xl font-bold">2560+</h4>
            <p class="text-md text-gray-400">Total Ticket Sold</p>
          </div>
        </div>
        <div class="card flex items-center gap-3">
          <div class="bg-gradient-to-br from-violet-500 to-violet-700 py-2 px-3 rounded-lg text-white">
            <span class="bi bi-people-fill text-3xl"></span>
          </div>
          <div>
            <h4 class="text-xl font-bold">5000+</h4>
            <p class="text-md text-gray-400">Total Registration</p>
          </div>
        </div>
        <div class="card flex items-center gap-3">
          <div class="bg-gradient-to-br from-cyan-500 to-cyan-700 py-2 px-3 rounded-lg text-white">
            <span class="bi bi-cash-stack text-3xl"></span>
          </div>
          <div>
            <h4 class="text-xl font-bold">$8000</h4>
            <p class="text-md text-gray-400">Total Revenue</p>
          </div>
        </div>
      </div>

      <div class="my-5"></div>

      <div class="grid grid-cols-1 my-4 xl:grid-cols-2 2xl:grid-cols-3 xl:gap-6">
        <div class="card">
          <div class="flex justify-between items-center mb-4">
            <h3 class="text-xl font-bold leading-none text-gray-900">Latest Customers</h3>
            <a href="#" class="inline-flex items-center p-2 text-sm font-medium text-gray-900 rounded-lg hover:bg-gray-100">
              View all
            </a>
          </div>
          <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200">
              <li class="py-3 sm:py-4" *ngFor="let i of [200, 325, 100, 50, 400, 336]">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <img class="w-8 h-8 rounded-full" src="https://placehold.co/100x100" alt="user image">
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                      John Doe
                    </p>
                    <p class="text-sm text-gray-500 truncate">
                      john.deo@email.com
                    </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900">
                    ${{i}}
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card overflow-scroll 2xl:col-span-2">
          <div class="flex justify-between items-center mb-4">
            <h3 class="text-xl font-bold leading-none">Upcoming Events</h3>
            <a href="#" class="inline-flex items-center p-2 text-sm font-medium text-gray-900 rounded-lg hover:bg-gray-100">
              View all
            </a>
          </div>

          <div class="flex items-center gap-6">
            <div class="relative">
              <img src="https://placehold.co/600x400" alt="event image" class="w-48 rounded-lg">
              <span class="bi bi-calendar2-event absolute bottom-0 right-0 w-10 h-7 bg-emerald-500 text-center border rounded-tl-lg rounded-br-lg text-white"></span>
            </div>
            <div class="flex-1">
              <h4 class="text-lg font-semibold leading-none">
                Envato International Online Meetup 2020
              </h4>
              <p class="my-1 text-emerald-500">California, USA</p>
              <p class="text-xs text-justify">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint ipsa vero illum quos vitae dolorum, earum recusandae est modi ea possimus nihil aspernatur 
                libero unde itaque error quis, sit tenetur esse quam harum corrupti! Quia, tenetur provident, vero, recusandae aliquam possimus at mollitia quo perspiciatis 
                adipisci in? Odio, impedit cumque.
              </p>
            </div>
            <div class="w-80 flex justify-between">
              <div class="text-center text-emerald-600">
                <div class="flex items-center justify-center bg-emerald-50 rounded-full shadow-sm shadow-gray-200 w-16 h-16">
                    <i class="bi bi-cash text-2xl block"></i>
                </div>
                <p class="text-sm mt-3">$200</p>
              </div>
              <div class="text-center text-emerald-600">
                <div class="flex items-center justify-center bg-gray-50 rounded-full shadow-sm shadow-gray-200 w-16 h-16">
                    <i class="bi-ticket-perforated text-2xl block"></i>
                </div>
                <p class="text-sm mt-3">150 pcs left</p>
              </div>
              <div class="flex flex-col justify-center text-emerald-600">
                <div class="flex items-center justify-center bg-emerald-50 rounded-full shadow-sm shadow-gray-200 w-16 h-16">
                    <i class="bi bi-calendar2-check text-2xl block"></i>
                </div>
                <p class="text-sm mt-3">{{eventDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<router-outlet></router-outlet>
